<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <%-include('partial/bootstrap.ejs')%>
    <link rel="stylesheet" href="css/userStyle.css">
  </head>
  <body>
    <div class="container-fluid bg-img">
      <div class="main">
        <div class="title">
        <h1>Sign Up</h1>
         <a href="#"> 
            <i class="fa-brands fa-google-plus-g"></i></a>
         <a href="#">
            <i class="fa-brands fa-facebook"></i>
        </a>
         <a href="/signin" class="already">already Register ?</a>
        </div>
        <div class="form-box">
          <form action="#" method="post">
            <div class="form-groups">
            <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="First Name" />
              <small class="firstNameErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Last Name" />
              <small class="lastNameErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-envelope"></i>
              <input type="eamil" placeholder="Email" />
              <small class="emailErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-mobile"></i>
              <input type="text" placeholder="Mobile number" />
              <small class="mobileErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-location-dot"></i>
              <input type="text" placeholder="Pincode" />
              <small class="pincodeErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-location-dot"></i>
              <input type="text" placeholder="Address" />
              <small class="addressErr"></small>
            </div>
            <div class="form-group">
            <div class="gender">
            <h1>Gender</h1>
              <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
              <small class="genderErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-unlock"></i>
              <input type="password" placeholder="Password" />
              <small class="passwordErr"></small>
            </div>
            <div class="form-groups">
                <i class="fa-solid fa-unlock"></i>
              <input type="password" placeholder="Confirm Password" />
              <small class="confirmPasswordErr"></small>
            </div>
           
            <button type="submit" class="submit-btn">Submit</button>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>
