* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Registration From style */
.bg-img{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89),rgba(26, 26, 26, 0.753)),url('../images/bg-img.jpg');
    background-size: cover;
    background-position: center;
}
.main {
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 10px;
margin-top: 10px;
height: 100vh;
}
.title{
  margin-right:150px;
}
.title h1{
  font-weight: 700;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);

}
.title i{
  font-size: 38px;
  margin:20px 15px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: rgb(238, 238, 238);
}
.title i:hover{
  color: rgb(0, 101, 160);
}
.already{
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 5px 0;
  letter-spacing: 1px;
}
.already:hover{
  color: rgb(156, 156, 156);
}
.form-box{
  margin-left:50px ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgb(248, 248, 248);
}
.form-box form{
  padding: 20px 40px;
 
}
.form-box form .form-group{
min-width: 400px;
margin-bottom: 5px;
}
.form-groups{
    position: relative;
}
.form-box form .form-groups input{
  
  width: 100%;
  outline: none;
  padding: 5px 10px 5px 55px;
  background: none;
  border: none;
  border-bottom:2px solid rgb(179, 179, 179);
  margin-top: 10px;
  font-weight:600;
  font-size: 18px;
  color: rgb(105, 105, 105);
}

.form-groups::before{
  content: '';
  position: absolute;
  top: 47px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(75, 75, 75);
  transition: ease-in-out 0.5s;
}

.form-groups:hover::before{
width: 100%;
}
#gender{
  outline: none;
  border: none;
  /* width: 100%; */
  background: rgb(240, 240, 240);
  font-weight:600;
  font-size: 18px;
  color: rgb(105, 105, 105);
  margin-bottom: 10px;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px 5px 40px;

}
.gender{
  display: flex;
  margin-top: 20px;

}
.gender h1{
margin: 0 10px 0 20px;
color: rgb(100, 100, 100);
}
.form-box .submit-btn{

  padding: 2px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border-color:rgba(99, 99, 99, 0.5);
  background: rgba(187, 187, 187, 0.5);
  margin: 15px 150px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  /* margin-top: 20px; */
  
}
.form-box .submit-btn:hover{
  background: rgb(0, 101, 160);
  color: #fff;
}
.form-group h1{
  font-size: 21px;
  margin-left: 10px;
}
.form-group small{
  color: rgb(206, 0, 0);
  font-weight: 500;
}
.form-groups i{
    position: absolute;
    top:23px;
    left: 10px;
    color: rgb(97, 97, 97);
}