<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/bootstrap.ejs')%>

        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include('./admin_partial/navigation_bar.ejs')%>

</body>

</html>